body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;

    color: darkgray;
    line-height: 1.6;

}

*,
*:before,
*:after {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

/*container*/
.container{
    width: 1370px;
    max-width: 940px;
    margin: 0 auto;
}

/*intro*/
.intro{
    margin: 0 auto;
    width: 1370px;
    height: 1056px;
    text-align: center;
    background: url("../images/Hero Image.png") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner{
    padding-top: 380px;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}
.intro__title{
    font-family: 'Montserrat', serif;
    color: #263742;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;
}
.intro__downtitle{
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    font-size: 20px;
    color: #314a5b;
    text-align: left;
}

/*button*/
.btn{
    margin: 0 auto;

}

/*Header*/
.header{

    width: 100%;
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    background: url("../images/Logo.png");
    font-family: 'Domine', serif;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

/*Nav*/

.nav{
    font-size:  14px;
    text-transform: uppercase;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    color: #263742;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:hover {
    color: darkgray;
}

/*Section*/

.section{
    padding: 85px 110px;

}

.statis{

}

/*text x3*/

.stat{
    display: flex;
    margin-top: 85px;

}
.stat__item{
    flex: 1 1 0 ;
    font-family: 'Montserrat', sans-serif;
    color: #38464f;
    font-size: 26px;
    text-align: left;

}

.stat__Title{
    font-family: 'Montserrat', sans-serif;
    max-width: 160px;
    line-height: 25px;
    color: #38464f;
    font-size: 26px;

}
.stat__Title2{
    max-width: 250px;
    line-height: 25px;

}

.stat__text{
    color: #9aa0ab;
    font-size: 15px;
    font-family: 'Open+Sans', sans-serif;
    max-width: 280px;
    margin-top: 21px;
}
.stat__text2{
    color: #9aa0ab;
    font-size: 15px;
    font-family: 'Open+Sans', sans-serif;
    max-width: 250px;
    margin-top: 21px;
}

.stat__text3{
    color: #9aa0ab;
    font-size: 15px;
    font-family: 'Open+Sans', sans-serif;
    max-width: 250px;
    margin-top: 21px;
}
.MORE{
    font-family: 'Montserrat', sans-serif;
    margin-top: 33px;
    font-size: 14px;
    color: #fa5c65;
    text-decoration: none;
}

/*content x2*/

.stat__content{
    display: flex;
    margin-top: 85px;
}

.stat__text_content{
    flex: 1 1 0 ;
}

/*Section__header*/
.section__header{
    margin: 0 auto;
    text-align: left;

}

.section__suptitle{

    text-transform: uppercase;
}

.section__text{

}

/*about*/

.about{
    font-family: 'Montserrat', sans-serif;
    color: #38464f;
    font-size: 26px;
    line-height: 1;
    text-align: left;
}
.about__item{

}
